<!DOCTYPE html> 
<head></head>
<body  class="me">
<header>
<h1>ABOUT ME</h1>    
</header>
<p id="myPara">When I was a kid ,I always used to break  things around my house.And many of them were expensive things starting from newly bought glass-top coffee table to
my Mom's favourite wooden almara(wardrobe) with glass mirror.And for a long time my dad used to call me "Nashippinte makal" (meaning <b> daughter of destruction</b>) for which I used to laugh at him.
<b>-Simmy Payyappilly Varghese</b></p></body>
</html>